#hidden_id{
    top: 50px  !important;
    z-index: 2147483647;   
    color: 'red';
    background-color: rgba(255, 255, 0, 0.3);
    height: '150px' !important;
    width: '100px'  !important;
    font-size: 3rem;
    background-color: 'green';
}
.displayFix{
    top: 130px  !important;
    position: fixed  !important;
    z-index: 2147483647;   
    font-size: smaller;
}
.restart-button{
    left: 70px   !important;
    width: auto !important;
    height: auto !important;
}
.stop-button{
    width: auto !important;
    height: auto !important;
}

.delete-button{
    left: 190px   !important;
}